<div class="btn-group-vertical gr">
<%=link_to 'Add record', 'elements/index'%>
<%=link_to 'Show all', 'elements/show_all'%>
<%=link_to 'Find by sequence', 'elements/find_seq'%>
<%=link_to 'Show all from xml', 'elements/show_all.xml'%>
</div>